local.settings.json
.python_packages
__pycache__
.venv
.env
*.zip
teststuff.py
Ignored.md
springEmails.json
springSubEmails.json
topIdLog.csv
result.html
testDatabase.json
database.json
debugging.log
TODO.md
*.log
.pyc
*.spec
build/
dist/